body
{
    /*background-color: rgba(20, 19, 19, 0.667);*/
   /* background-image: linear-gradient(black, gray, rgb(29, 21, 21));*/
   background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.header{
    height: 500px;
}
header
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.66);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width:100%;
    
}
h3
{
    color: white;
    font-size: 35px;
    font-weight: bold;
    /*background-color: rgba(0, 0, 0, 0.797);*/
}
h4
{
    color: white;
    font-size: 25px;
    font-weight: bold;
   /* background-color: rgba(0, 0, 0, 0.797);*/
}
h5
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    /*background-color: rgba(0, 0, 0, 0.797);*/
}
.text
{
    color: yellowgreen;
    /*background-color: rgba(0, 0, 0, 0.797);*/
}
.container>.list>ul
{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li>a 
{
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:#FFFFFF;
}
li>a:hover
{
    color: black;
    text-decoration: underline;
}
.image>image
{
    position:relative ;
    margin-top: -80px;
    padding-left: -10px;
    padding-top:-10px ;
}
.list
{
    padding-left: 25px;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(255,105,0,1);
    width: 100%;
    height: 80px;
    font-size: 30px;
}
#searchbar
{
   border: 2px solid black;
   height: 30px;
   width: 200px;
   border-radius: 10px;
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
.container2{
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper{
    width: 80%;

    
}
.swiper-slide iframe
{
    width: 100%;
    padding: 0 300px 0 300px;


}

.swiper-slide a{
    width: 100%;
    padding-left: 50%;
    margin-left: 50%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination-active
{
    background: rgb(255, 255, 255);
    margin-top: 50px;
    
}

.swiper-wrapper{
    align-items: center;
    display: inline;
    
}
.container2>div>h3
{
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------*/
.br-bio
{
    text-align: center;
}
.br-bio>img
{
    border-radius: 50%;
}
.br-bio>h6
{
    color: yellow;
    font-size: 15px;
}
.button-inside>a
{
    color: rgb(33, 30, 30);
    text-decoration: none;
    font-size: 15px;
}
.button-inside>a>button
{
    height: 60px;
    width: 200px;
    color: rgb(20, 18, 18);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;

}
.button-inside>a>button:hover
{
    background-color: #00a2ff;
    color: #fff;
}

.blog
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.button-inside
{
    display: inline;
    justify-content: space-between;
   
}
.main-blog>h1
{
    color: yellow;
    text-align: center;

}
.bottom
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form>form>p>input
{
    color: #fff;
    height: 40px;
    width: 400px;
    border: 2px gray solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.247);
}
.form>form>p>textarea
{
    color: #fff;
    height:80px;
    width: 400px;
    border: 2px gray solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.247);
}
.form>form>p>label
{
    color: rgb(255, 255, 255);
}
.form>form>button
{
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: #fff;
    border-radius: 10px;
}
.form>form>p>input:hover
{
    border: solid 2px black;
}

.form>form>p>textarea:hover
{
    border: solid 2px black;
}
.form>form>button:hover
{
    border: solid 2px black;
    background-color: gray;
    color: blue;
}
.form>form>h3
{
    text-align: center;
    color: yellow;
}
.links>h3{
    text-align: center;
    color: yellow;
}

.bottom-line{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 136, 0);
}

.bottom-line a{
    color: #ffffff;
}

.bottom-line a:hover{
    color: black;
}

.bottom .links ul{
    color: #fff;
}